body {
  background-color: #14623C;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1 {color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
  font-size:400%;
  text-align:center
}
h2 {color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
font-size:200%;
text-align:center
}


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #14623C;
    display: flex;
    justify-content: right;
  }
  
  ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
    font-family: sans-serif;
  }
  
  ul li a:hover {
    background-color: #111111;
  }


.banner {
    display:block; width:100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 20px;
  background-color: #14623e;
  padding: 10px;
}

.container div {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  text-align: center;
  background-color: #14623e;
  padding: 10px;

}
.text-box {
  color: white;
}
.button {
  background-color: #0d839e !important;
  border: none;
  border-radius: 5px;
  color: #f1f1f1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

table {margin-left: 20%;
  margin-right:20%;
color: white;
    text-align: center;
  }
  
  td, th {
    padding: 10px;
  }

  .quote-box {
    background-color:white !important;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:350px
  }
  .quote-box p {
    margin: 0;
    font-style: italic;
    font-size: 1.1em;
    align-items: center;

  }
  .footer {
    background-color: #0d839e;
    color: white;
    width: 100%;
    padding: 15px;
    text-align: left;
    margin-bottom: 0;
  }